body {
  margin: 0;
  padding: 0;
}

header {
  z-index: 2;
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 72px;
  line-height: 108px;
  height: 108px;
  background: #335C7D;
  background-color: maroon;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  transition: all 0.4s ease; }

header.sticky {
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  text-align: center;
  background: #efc47D;
  padding-left: 20px; }

/*nav {

	position: relative;
	background-color: maroon;

	height: 50px;
}

nav a {
	position: absolute;

	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);

	font-size: 20px;
}*/
a {
  text-decoration: none;
  color: black; }

.shirt-slider h1 {
  margin: auto;
  text-align: center; }

.shirt-slider img {
  display: block;
  margin: 0 auto;
  height: 40vw; }

#design {
  z-index: 1; }

.shirt-slider p {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  font-size: 17px; }

.shirt-slider button {
  display: block;
  margin: 10px auto;
  height: 40px;
  width: 80px;
  font-size: 18px; }

.slider {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); }

#arrow-left {
  display: inline-block;
  width: 64px; }

#arrow-right {
  float: right;
  width: 64px; }

.mid {
  background-color: maroon; }

.wish-content {
  width: 100%;
  min-height: 30em; }

.wishes {
  position: absolute;
  overflow: scroll;
  width: 50%;
  max-height: 30em; }

.wish-info {
  position: absolute;
  overflow: scroll;
  left: 50%;
  width: 50%;
  max-height: 30em; }

.wish-info h1 {
  margin: auto;
  text-align: center; }

.wish-info button {
  display: block;
  margin: 20px auto;
  width: 30%;
  height: 20%;
  font-size: 200%; }

.wish-info p {
  text-align: center;
  margin: 10% 20%; }

footer {
  text-align: center;
  background-color: maroon; }

footer ul {
  margin: 0 auto;
  padding: 0; }

footer ul li {
  margin: auto;
  display: inline-block;
  width: 30%; }

li a {
  display: block;
  margin: 10% 0; }

li address {
  margin: 5%; }

.social-icon {
  margin: 20%;
  width: 32px;
  height: 32px; }

.f-head {
  margin: auto;
  font-size: 1.5em;
  font-weight: bold; }
