@import "_shirt_slider.scss";

@import "_about.scss";

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black; 
}

header {
    z-index: 2;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 72px;
    line-height: 108px;
    background-color: maroon;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
  
    transition: {
        duration: 0.4s;
        timing-function: ease; 
    } 

    &.sticky {
        font-size: 24px;
        line-height: 48px;
        height: 48px;
        text-align: center;
    }
}

.wish-content {
    width: 100%;
    min-height: 30em; }

.wishes {
    position: absolute;
    overflow: scroll;
    width: 50%;
    max-height: 30em; }

.wish-info {
    position: absolute;
    overflow: scroll;
    left: 50%;
    width: 50%;
    max-height: 30em; 

    h1 {
        margin: auto;
        text-align: center; 
    }

    button {
        display: block;
        margin: 20px auto;
        width: 30%;
        height: 20%;
        font-size: 200%; 
    }

    p {
        text-align: center;
        margin: 10% 20%; 
    }
}

footer {
    text-align: center;
    background-color: maroon; 

    ul {
        margin: 0 auto;
        padding: 0; 

        li {
            margin: auto;
            display: inline-block;
            width: 30%; 

            address {
                margin: 5%; 
            }

            a {
                display: block;
                margin: 10% 0; 
            }

            .social-icon {
                margin: 20%;
                width: 32px;
                height: 32px; 
            }
        }
    }
}

.f-head {
    margin: auto;
    font: {
        size: 1.5em;
        weight: bold;
    }  
}
